$fontSize = 16px
$theme = #ff3300

@keyframes spin
  from
    transform rotate(0)
  to
    transform rotate(360deg)

@keyframes appear
  from
    opacity 0
  to
    opacity 1

.mplayer *
  box-sizing border-box

.mplayer svg, .mplayer-time-inner, .mplayer-icon
  display block

.mplayer svg
  fill #333333

.mplayer
  color #333333
  width 100%
  position relative
  display flex
  flex-flow column
  font-size $fontSize
  line-height 1
  background-color #333333
  user-select none

.mplayer-pic
  width 100%
  margin 1rem 0
  cursor pointer
  background-size cover
  position relative
  border 0.5rem solid #ffffffcc
  transition border-color 0.2s
  &:before
    content ''
    padding-top 100%
    display block
  &:hover
    border-color #ffffff
    .mplayer-button
      opacity 1

.mplayer-button
  position absolute
  right 0.5rem
  bottom @right
  width 25%
  border-radius 50%
  opacity 0.66
  transition opacity 0.2s, right 0.2s, bottom 0.2s, width 0.2s, border 0.2s
  filter drop-shadow(0 0 0.25rem)
  svg
    fill #ffffff

.mplayer-pause
  right 25%
  bottom @right
  width 50%
  border 0.5rem solid #ffffff

.mplayer-info
  padding 1rem
  background-color #ffffff
  display flex
  flex-flow column

.mplayer-music
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
  user-select text
  margin-bottom 0.5rem

.mplayer-title
  font-size 150%
  display block
  overflow hidden
  text-overflow ellipsis
  vertical-align bottom

.mplayer-author
  color #999999
  line-height 1.75
  font-size 0.88

.mplayer-bar-wrap, .mplayer-bar, .mplayer-loaded, .mplayer-played
  height 1rem
  border-radius 0.5rem

.mplayer-bar-wrap
  margin 0.5rem 0
  cursor pointer

.mplayer-bar
  background-color #eeeeee
  position relative
  &:hover
    .mplayer-thumb
      background-color #333333 !important

.mplayer-loaded
  background-color #dddddd
  transition width 0.2s

.mplayer-played
  background-color $theme
  position absolute
  top 0
  left 0
  min-width 1rem
  max-width 100%

.mplayer-thumb
  float right
  display block
  width 1rem
  height 1rem
  border-radius 0.5rem
  transition background-color 0.2s
  transform scale(1.5) !important
  .mplayer-loading-icon
    display none
    animation spin 2s infinite linear
  .mplayer-loading-show
    display block
  svg
    fill #ffffff

.mplayer-time-inner
  text-align right
  margin 0.75rem 0.25rem

.mplayer-icon:not(.mplayer-icon-volume-down)
  height 3rem
  width @height
  cursor pointer
  padding 0.5rem
  border-radius 0.5rem
  border 2px solid transparent
  transition border-color 0.2s, box-shadow 0.2s
  &:hover
    border-color #333333
  &:active
    box-shadow inset 0 0 0.25rem

.mplayer-ppn
  display grid
  grid-auto-flow column
  justify-content space-evenly

.mplayer-manybtn
  display grid
  grid-auto-flow column
  justify-content center
  margin-top 0.5rem

.mplayer-icon:not([type='button'])
  transform scale(1.1) !important
  border-radius 50%

.mplayer-icon[type='button']:not(.mplayer-icon-volume-down), .mplayer-volume-wrap
  &.mplayer-icon-transparent
    opacity 0.5
  &:hover
    opacity 1

.mplayer-icon-volume-down
  height 3rem
  width @height
  cursor pointer
  padding 0.5rem
  border-radius 0 0.5rem 0.5rem 0

.mplayer-volume-wrap
  position relative
  &:hover
    .mplayer-icon-volume-down
      background-color #333333
      svg
        fill #ffffff
    .mplayer-volume-bar-wrap
      width calc(400% + 2px)
      box-shadow inset 0 0 0 2px

.mplayer-volume-bar-wrap
  position absolute
  top 0
  right calc(100% - 0.25rem)
  width 0
  height 100%
  background-color #ffffff
  border-radius 0.5rem 0 0 0.5rem
  transition width 0.2s
  cursor pointer

.mplayer-volume-bar
  height 100%
  position relative
  margin 0 1rem

.mplayer-volume
  height 50%
  top 25%
  position absolute
  border-radius 0.25rem
  min-width 0
  max-width 100%

.mplayer-lrc, .mplayer-list
  background-color #ffffff
  transition height 0.6s, margin-bottom 0.6s, border-radius 0.6s

.mplayer-list-hide, .mplayer-lrc-hide
  margin-bottom 0 !important
  height 0 !important
  min-height 0 !important
  border-radius 0

.mplayer-lrc
  margin 1rem 0
  height 6rem
  text-align center
  position relative
  overflow hidden
  padding 0 0.5rem
  &:before, &:after
    content ''
    position absolute
    width 100%
    height 0.5rem
    left 0
    z-index 1
  &:before
    top 0
    background linear-gradient(0deg, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, 0.8))
  &:after
    bottom 0
    background linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, 0.8))

.mplayer-lrc-score
  position absolute
  width calc(100% - 3rem)
  margin 0 1.5rem
  height 0
  left 0
  top 2rem
  z-index 1
  background-color #ff3300
  transition height 0.6s
  &.mplayer-lrc-score-show
    height 2px

.mplayer-lrc-empty
  line-height calc(((80vh - 20rem) / 3))

.mplayer-lrc-contents
  user-select text
  transition transform 0.6s
  > p
    margin 0
    padding-top 0.5rem
    white-space nowrap
    overflow hidden
    line-height 1.25
    transition font-size 0.6s, font-weight 0.6s
    color #666666
    font-size 0.7rem

.mplayer-lrc-current
  font-weight bold
  font-size 1rem !important
  line-height 1.5 !important
  color #333333 !important

.mplayer-list
  user-select text
  max-height 24.75rem
  overflow-y auto
  overflow-x hidden
  margin-bottom 1rem

.mplayer-list-empty
  line-height calc((80vh - 20rem) / 3 * 2)
  text-align center

.mplayer-list-item
  padding 1rem 0.75rem 1rem 0.25rem
  cursor pointer
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
  position relative
  transition background-color 0.2s
  animation appear 0.6s
  font-size 0.7rem
  &:hover
    background-color #f1f2f3 !important
  &:active
    background-color #e1e2e3
  &.mplayer-list-current
    background-color #ffffff
    font-weight bold
    .mplayer-list-author
      color #333333
    .mplayer-list-cur
      width 0.25rem

.mplayer-list-cur
  position absolute
  left 0
  top 0
  display block
  width 0
  height 100%
  background-color $theme
  transition width 0.2s

.mplayer-list-index, .mplayer-list-title
  display inline-block
  float left
  margin-right 0.75rem

.mplayer-list-index
  width 1.5rem
  text-align right

.mplayer-list-title
  width 60%
  overflow hidden
  text-overflow ellipsis

.mplayer-list-author
  color #999999
